<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

					<!--对应mapper接口的全路径-->
<mapper namespace="com.fh.shop.admin.mapper.area.IAreaMapper">

    <select id="findAreaList" resultType="com.fh.shop.admin.po.area.Area">
        select id,areaName,fatherId from t_area
    </select>
    <insert id="addArea" parameterType="com.fh.shop.admin.po.area.Area">
          <selectKey keyProperty="id" resultType="long" order="AFTER">
              select last_insert_id()
          </selectKey>
        insert into t_area (areaName,fatherId) values(#{areaName},#{fatherId})
    </insert>
    <update id="updateArea" parameterType="com.fh.shop.admin.po.area.Area">
        update t_area set areaName=#{areaName} where id=#{id}
    </update>

    <delete id="deleteArea">
        delete from t_area where id in
        <foreach collection="list" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>


</mapper>